@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome to the book catalogue 📚</h1>
<br/>

<p>
    Hello, there! Welcome to the book catalogue, where you can find
    information about books and subjects.
</p>

<p>Use the side navigation to view books, authors and subject.</p>
