@using BookCatalogue.Web.Data
@using BookCatalogue.Web.Services
@inject SubjectService SubjectService
@inject NavigationManager NavigationManager

<PageTitle>Edit - @Subject.Title</PageTitle>

@{
    string formId = "form";
}

<AddSubjectDetails OnValidSubmit="EditSubjectAsync" Id="@formId" @ref="subjectDetails" Subject="Subject" />
<button type="submit" class="btn btn-primary" form="@formId">Done</button>
<button type="button" class="btn btn-secondary" @onclick="CancelButtonClicked">Cancel</button>

@code {
    [Parameter]
    public Subject Subject { get; set; }

    [Parameter]
    public EventCallback CancelButtonClicked { get; set; }

    private AddSubjectDetails subjectDetails;

    private async Task EditSubjectAsync()
    {
        bool successful = await SubjectService.EditSubjectAsync(subjectDetails.Subject);

        await CancelButtonClicked.InvokeAsync();
    }
}
