<EditForm Model="@Author" OnValidSubmit="OnValidSubmit" id="@Id">
    <div class="">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row mb-3">
            <label for="inputFirstName" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-10">
                <InputText class="form-control" id="inputFirstName" @bind-Value="Author.Firstname" placeholder="Robert"></InputText>
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputLastName" class="col-sm-2 col-form-label">Last name</label>
            <div class="col-sm-10">
                <InputText class="form-control" id="inputLastName" @bind-Value="Author.Lastname" placeholder="Kiyosaki"></InputText>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public EventCallback<EditContext> OnValidSubmit { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public Author? Author { get; set; }

    protected override void OnInitialized()
    {
        Author ??= new();
    }
}